@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* maybe #E8F6FF */
    text-align: center;
}

header {
    background-color: #A1CEF4;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Matemáticas main */
.container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 1200px;
}

.column {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
}

.column h2 {
    color: #007BFF;
    font-family: 'Baloo 2', sans-serif;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.buttons button {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: bold;
    font-family: 'Baloo 2', sans-serif;
}

.buttons button:hover {
    transform: scale(1.05);
}

/* Colores del nivel Básico (azules) */
.sumas { background-color: #1A4C99; }
.restas { background-color: #3366CC; }
.multiplicaciones { background-color: #6699FF; }
.divisiones { background-color: #99CCFF; }
.fracciones-basico { background-color: #CCE5FF; }

/* Colores del nivel Intermedio (amarillos) */
.fracciones-diferente { background-color: #FFD700; }
.decimales { background-color: #FFE033; }
.mcm { background-color: #FFEA66; }
.mcd { background-color: #FFF299; }
.multiplicaciones-decimales { background-color: #FFFACC; }

/* Colores del nivel Avanzado (morado) */
.ecuaciones { background-color: #800080; }
.raiz-cuadrada { background-color: #993399; }
.teorema-pitagoras { background-color: #B266B2; }
.trigonometria { background-color: #CC99CC; }
.exponenciales { background-color: #E6CCE6; }

/* Botón regresar */
.regresar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #d3d3d3;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
}

.regresar:hover {
    transform: scale(1.1);
    background-color: #c0c0c0;
}
/* Index */

/* Header vacío */
.vacio {
    padding: 38px 0;
    text-align: center;
}

header .logo_m {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 71px;
    height: auto;
}

/* Título principal
.titulo {
    font-family: 'Baloo 2', sans-serif;
    font-size: 48px;
    color: #222222;
    margin: 20px 0;
}

.titulo span {
    color: #007BFF;
} */

/* Contenido principal */
.main-container {
    padding: 20px;
}

.contenido {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    width: 75%;
}

.logo_g {
    width: auto;
    height: auto;
    max-width: 40vw;
    max-height: 30vh;
}

.imagen_kid {
    width: 25%;
    height: auto;
    position: absolute;
    top: auto;
    left: 15%;
}


/* Sección de bienvenida */
.bienvenida h2 {
    font-size: 36px;
    color: #333333;
    margin: 10px;
    font-family: 'Baloo 2', sans-serif;
}

.bienvenida p {
    font-size: 16px;
    color: #666666;
    margin: 10px 0;
}

.boton {
    background-color: #D3D3D3;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton:hover {
    background-color: #C0C0C0;
    transform: scale(1.05);
}
